<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= __('View') %> <%= __('Order') %></title>

    <% include ../partials/header %>

    <link href="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <%- include("../partials/nav",{title: __('View') + ' ' + __('Order')}) %>

        <div id="page-wrapper" style="padding-top: 15px;">
            
            <div class="row">
                <div class="col-lg-12">

                <!--    <div class="panel panel-default">-->
                     
                        <!-- /.panel-heading -->
                    <!--    <div class="panel-body"> -->
                            
                          <table class="table table-striped table-bordered table-hover" id="orderTable">
                            <thead>
                              <tr>
                                <th><%= __('Date') %> </th>
                                <th><%= __('Type') %></th>
                                <th><%= __('Order') %> <%= __('Id') %></th>
                                <th><%= __('Reference') %> <%= __('Id') %></th>
                                <th><%= __('Total') %></th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>                          
                      <!--  </div>
                         /.panel-body -->
                <!--    </div>-->
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <% include ../partials/js %>
    <script>
      $(document).ready(function() {
          
            //query to populate the table
            var table = $('#orderTable').DataTable({
                 "lengthMenu": [
                  [5, 10, 25, 50, -1],
                  [5, 10, 25, 50, "All"]
                ],
                <% include ../partials/datatables_lang %>,            
                  "ajax": {
                    "url": '/order/getOrders',
                    "dataSrc": function(json) {
                      return json;
                    }
                  },
                  bAutoWidth: false,
                  columns: [
                      { data: 'date'}, 
                      
                      {data:
                        <% if (user.lang == 'en') { %>
                          'nameEn'
                        <% } %>
                        <% if (user.lang == 'cn') { %>
                          'nameCn'
                        <% } %>    
                        <% if (user.lang == 'vn') { %>
                          'nameVn'
                        <% } %>
                      },
                      { 
                        "targets": -1,
                        "render": function(data, type, full, meta) {
                          
                          val = '<a href="/order/viewOrder/'+full.orderId+'" target="_blank">'+full.orderId+'</a>';
                          return val;
                        }
                      },
                      { 
                        "targets": -1,
                        "render": function(data, type, full, meta) {
                          val = '';
                          if(full.type == 0 )
                            val = '<a href="/transaction/viewTransaction/'+full.referenceId+'" target="_blank">'+full.referenceId+'</a>';
                          return val;
                        }
                      }, 
                      { data: 'productsTotal'}
                  ]
          });

         
      });

      </script>
  </body>
</html>