<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= __('Update') %> <%= __('Product') %></title>

    <% include ../partials/header %>
  </head>

  <body>    
    <div id="wrapper" style="padding-top: 5px;">
      <%- include("../partials/nav",{title: __('Update') + ' ' + __('Product')}) %>

      <div id="page-wrapper"  style="padding-top: 15px;">
        <div class="row">
          <div class="col-md-7 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                           
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <form role="form" action="/product/update/<%= row.productId %>" method="post">
                  <table class="table table-hover" id="productTable">
                                <tr>
                                    <td>
                                        <div class="form-group form-inline">
                                            <label><%= __('Code') %>:</label>
                                            <input class="form-control" name="code" value="<%= row.productCode %>" type="text" autofocus>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group form-inline">
                                            <label><%= __('Name') %>:</label>
                                            <input class="form-control" name="productName" value="<%= row.productName %>" type="text" style="width:250px" autofocus> 
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-inline">
                                            <label><%= __('Unit1') %>:</label>
                                            <input class="form-control" name="unit1" value="<%= row.unit1 %>" type="text" autofocus>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group form-inline">
                                            <label><%= __('Unit2') %>:</label>
                                            <input class="form-control" name="unit2" value="<%= row.unit2 %>" type="text" autofocus>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-inline">                                        
                                        <label><%= __('Exchange') %>:</label>
                                        <input class="form-control" name="exchange" value="<%= row.exchange %>" type="text" autofocus>
                                    </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-inline">
                                          <label><%= __('Type') %> :</label>
                                          <select class="form-control" name="type">
                                          <% for ( var i = 0; i < type.length; i++ ) { %>
                                            <option value="<%= type[i].code %>" 

                                            <% if(type[i].code == row.type) { %>
                                                selected="selected"
                                            <% } %>

                                             > 
                                            <% if (user.lang == 'en') { %>
                                              <%=type[i].nameEn %> 
                                            <% } %>
                                            <% if (user.lang == 'cn') { %>
                                              <%=type[i].nameCn %> 
                                            <% } %>    
                                            <% if (user.lang == 'vn') { %>
                                              <%=type[i].nameVn %> 
                                            <% } %>
                                            </option>
                                          <% } %>
                                          </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group form-inline">
                                          <label><%= __('Manufacturer') %> :</label>
                                          <select class="form-control" name="manu">
                                          <% for ( var i = 0; i < manu.length; i++ ) { %>
                                            <option value="<%= manu[i].code %>"
                                                <% if(manu[i].code == row.manufacturer) { %>
                                                    selected="selected"
                                                <% } %>
                                            >
                                                <%=manu[i].name %> 
                                            </option>                                          
                                          <% } %>
                                          </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-inline">
                                            <label><%= __('HMC') %> :</label>
                                            <input class="form-control" name="hmc" value="<%= row.hmc %>" type="number" step="0.01" >
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group form-inline">
                                          <label><%= __('LongAn') %> :</label>
                                          <input class="form-control" name="longAn" value="<%= row.longAn %>" type="number" step="0.01" >
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                    
                  <input type="submit" class="btn btn-lg btn-success btn-block" value="<%= __('Submit') %>"/>
                </form>
                        
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->

    <% include ../partials/js %>
  </body>
</html>